---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="mx-auto max-w-3xl px-4 py-16">
            <h1 class="text-3xl font-semibold mb-4">Hi, I’m Sakshyam </h1>
            <p class="text-base leading-relaxed text-muted-foreground">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi facere ea ab, omnis assumenda impedit recusandae atque fugiat repudiandae molestias, culpa distinctio? Esse porro totam enim, praesentium dolores ab.
            </p>
        </main>

        <Footer />
    </body>
</html>
<script is:inline>
  (function () {
    const theme = localStorage.getItem('theme');
    if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  })();
</script>
