---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle.astro'
---

<header>
	<nav class="container">
		<a href="/" class="site-title">{SITE_TITLE}</a>
		<div class="links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<ThemeToggle />
		</div>
	</nav>
</header>

<style>
	header { padding: 1.5rem 0; }
	nav { display: flex; align-items: center; justify-content: space-between; }
	.site-title { font-weight: 700; text-decoration: none; }
	.links { display: flex; align-items: center; gap: 1.5rem; }
	.links a { text-decoration: none; font-size: 0.9rem; }
</style>
